:root {
    --primary-color:rgb(19, 19, 19);
    --secondary-color: rgb(255, 255, 255);
    --tertiary-color: rgb(146, 4, 30);
    --black-transparent: rgba(0, 0, 0, 0.7);
    --hauteur_header: 90px;
    --hauteur_header_medium_size: 120px;
    --hauteur_header_large_size: 200px;
    --hauteur_footer: 150px;
    --padding_left_right: 2vw;
}

/* Font Roboto */

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  body {
    background-color: var(--secondary-color);
    font-family: "Roboto", sans-serif;
}

/* Police rock salt */

.rock-salt-regular {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}


/*Effacer le style par defaut des éléments a*/
a {
    text-decoration: none;
}

/*MOBILE FIRST*/

/*Réinisialiter les styles par defaut des navigateurs*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Effacer le style par defaut des éléments ol et ul*/
ol, ul {
    list-style: none;
}


/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*------------------HEADER---------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/

/*Définition du alteur et coleur du fond*/
.header {
  position: sticky;
  top: 0;
  box-shadow: 0 5px 5px rgba(60, 60, 60, 0.5);
  height: var(--hauteur_header);
  background-color: var(--primary-color);
}

/*Le style du conteneur navbar*/
.navbar {
  height: 100%; /*pour occuper tout l'hauteur du header*/
  display: flex; /*Positioner les éléments les uns au coté des autres*/
  justify-content: space-between; /*Éloigner les éléments les uns des autres*/
  align-items: center;
  flex-wrap: wrap;
  padding: 0 var(--padding_left_right); /*Padding du 0 par top et bottom, et de 2 par left et right*/
}

.logo-size {
height: 90%;
object-fit: scale-down;
align-content: center;
}

.logo {
  height: 70%;
  object-fit: scale-down;
}

/*Cacher l'élément check-box, sont les éléments de notre menu*/
.menu_burger {
  display: none;
}

/*Captamos el elemento por su ID, cuando el check-box esté en estado checked*/
/*el signo + significa que el elemento al lado (ul_links, en este caso) será modificado*/
/*En este caso, para asignar la altura al elemento ul_links*/
/*Se utiliza una función para calcular la altura, la operación es la siguiente:*/
/*Queremos que mida el 100% de la altura de la ventana menos la altura del header*/
.menu_burger:checked+.ul_links {
  height: calc(90vh - var(--hauteur_header));
  min-height: 100px;
  max-width: 600px;
}

/*Le da un color blanco al icono hamburguer               */
.list_icon {
  color: var(--couleur_blanc);
  cursor: pointer; /* indica que el elemento es clicable */
}

/*Des options du menu*/
.ul_links {
  width: 200px;
  max-width: 500px;
  background-color: var(--black-transparent);
  color: var(--secondary-color);
  position: absolute;
  /*el elemento  ul_links comienza abajo del header*/
  top: var(--hauteur_header);
  /*sin espacio a la izquierda*/
  right: 0;
  /*sin espacio arriba*/
  height: 0;
  /*Cacher la list quand est pas check*/
  overflow: hidden;
  /* ----------------->height: calc(100vh - var(--altura_header)); */
  /*Type de conteneur*/
  display: flex;
  /*Positioner les éléments en colonne*/
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding-right: 1rem;
  gap: 1rem;
  /*anima la transición otorgándole una cantidad de tiempo para cambiar de un estado al otro*/
  transition: all .3s;
}

.contact_burger {
  padding-bottom: 10px;
}


/*Donner le style aux liens du menu*/
.link {
  font-size: 1,5em;
  color: var(--secondary-color);
  font-weight: bold;
  padding: 1,5em;
  margin: 1em 0;
}

.link:hover {
  background-color: var(--primary-color);
}

.link_child {
  font-size: 1,3em;
  color: var(--secondary-color);
  font-weight: lighter;
  padding: 3px;
}

.link_child:hover {
  background-color: var(--primary-color);
}

.li_links_anchor {
  padding: 20px 0;
  font-weight: 900;
}

/* Style des titres et paragraphes */

h2 {
  padding: 20px 0;
  color: var(--primary-color);
  font-size: 2em;
}

p {
font-size: 1.5em;
}

/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*------------------TOP BUTTON-----------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/


.link-top-button {
  position: fixed;
  bottom: 0;
}
.img-top-button {
  width: 50px;
  padding: 10px;
}

/* Style de la bannière et titre h1 */

.banner {
  position: relative;
  display: inline-block;
  z-index: -1;

  .banner-image {
    width: 100vw;
  }


  .main-title {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);


    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    color: var(--secondary-color);
  }

}

/* Style des différentes sections */

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .rubriques {
      padding: 0 20px; 

      .anchor-target {
        padding-top: var(--hauteur_header); 
        margin-top: -90px;
  
        /* Section des réalisations */
  
        .album {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
        
          .album-image {
            border: 1px solid var(--primary-color);
            width: 80vw;
          }
        
          .album-description {
            display: flex;
            justify-content: center;
            font-family: "Roboto", sans-serif;
            font-weight: 600;
            font-style: normal;
            font-size: 1.5em;
            padding: 20px 0;
          }
        }
  
        .live {
          .live-date {
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-style: normal;
          }
          
          .live-city {
            padding: 20px 0;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: italic;
            border-bottom: 1px solid var(--primary-color);
            margin-bottom: 20px;
          }
        }
        
        .live:hover {
          color: var(--tertiary-color);
        }
  
        /* Section des photos et vidéos */
  
        .pictures-align {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
        }
        
        .pictures-photo {
          width: 80vw;
          object-fit: scale-down;
          padding: 10px 0;
        }
  
        /* Section liens des sites de fans */
  
        .links-section {
          display: flex;
          justify-content: space-evenly;
          flex-direction: column;
          flex-wrap: wrap;
  
          .links-style {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding: 20px 0 20px 10px;
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-style: normal;
            font-size: 1.2em;
            color: var(--primary-color);
          }
          
          .links-style:hover {
            color: var(--tertiary-color);
          }
        }
  
        /* Section réseaux sociaux */
  
        .network {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          padding-bottom: 20px;
          max-width: 100vw;
  
          .social-network {
            padding: 20px;
          
            img {
              height: 50px;
            }  
          
          }
        }
      }
    }

    
    
    #realisations h2 {
      padding-bottom: 0;
    }
}

/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*------------------FOOTER---------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/


.footer {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  /* bottom: 0; */
  /* height: var(--hauteur_footer); */
  background-color: var(--primary-color);

}

.nav_footer {
  justify-items: center;
  padding: 2rem 0;
  /* border: 4px solid red; */
}

.nav_footer_brk2 {
  display: none;
}

.section_footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60vw;
  padding: 10px;
  /* border: 1px solid yellow; */
  justify-content: center;
} 

.portraits_footer {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  width: 100%;
  max-height: 30vh;
  min-height: 160px;
  object-fit: cover;
  /* background-position: top; */
  background-position-y: top;
  background-position-x: top;
  /* border: 2px solid red; */
  /*We must find the solution for the align a right side in tablets and big screens*/
}
 
.ul_links_footer {
  display: grid;
  grid-template-columns: 1fr;
  /* border: 1px solid green; */
  padding-left: 10px;
}

.link_footer {
  font-size: 1,5em;
  color: var(--secondary-color);
  font-weight: bold;
  padding: 1,5em;
  margin: 1em 0;
  /* border: 1px solid purple; */
}

.link_footer:hover {
  background-color: var(--primary-color);
}

.link_child_footer {
  font-size: 1,3em;
  color: var(--secondary-color);
  font-weight: lighter;
  padding: 3px;
  /* border: 1px solid orangered; */
}

.link_child_footer:hover {
  background-color: var(--primary-color);
}

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
        /* MEDIA QUERIES */
/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */

/* medium size */

@media all and (min-width: 768px) and (max-width: 1599px) {


              /*---------------Header section------------*/
              .header {
                height: 120px;
                background-color: var(--primary-color);
                transition: all .4s;
              }

              /*contruction de list de pages de notre site web*/
              .ul_links {
                position: static;
                width: auto;
                height: auto;
                flex-direction: row;
                gap: .1rem;
                background-color: var(--primary-color);
                width: 80vw;
            }
          
              .link {
                  font-size: 1rem;
                  transition: all .4s;
                  padding: .2rem .4rem;
              }
          
              .link:hover {
                  background-color: var(--black-transparent);
              }

              .link_child:hover {
                color: var(--tertiary-color);
              }
          

              .label_burger {
                  display: none;
              }

              .menu_burger {
                  display: none;
              }

              .img-top-button {
                width: 70px;
              }

              .li_links_anchor_parent {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                font-size: 1rem;
                font-weight: bold;
              }

              .li_links_anchor {
                font-weight: 900;
              }


h2 {
  font-size: 3em;
}

p {
  font-size: 2em;
}
  
.banner {

  .main-title {
    font-size: 2.8em;
  }

}

/* Style des différentes sections */

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .rubriques {
      padding: 0 20px; 

      .anchor-target {
        padding-top: var(--hauteur_header); 
        margin-top: -90px;
  
        /* Section des réalisations */
  
        .album {
          flex-direction: row;
        
          .album-image {
            width: 40vw;
            margin: 0 10px;
          }
        }
  
        /* Section des photos et vidéos */
  
        .pictures-align {
          flex-direction: row;
        }
        
        .pictures-photo {
          width: 40vw;
          margin: 0 10px;
        }
  
        /* Section liens des sites de fans */
  
        .links-section {
          flex-direction: row;
          font-size: 2em;
        }
  
        /* Section réseaux sociaux */
  
        .network {
          .social-network {         
            img {
              height: 90px;
            }  
          
          }
        }
      }
    }
  }
   /*-------------Footer section---------*/

   .nav_footer_brk2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 2rem 0;
  }

  .nav_footer {
    display: none;
  }

  .section_footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30vw;
    padding: 10px;
    justify-content: center;
    
  } 
}

  /* Large size */

  @media all and (min-width: 1600px) {

              /*------------Header section------------*/
              .header {
                height: 150px;
                background-color: var(--primary-color);
                transition: all .4s;
              }

              .ul_links {
                position: static;
                width: auto;
                height: auto;
                flex-direction: row;
                gap: .1rem;
                margin: 0 10px;
                background-color: var(--primary-color);
              }
          
              .link {
                  font-size: 1.5rem;
                  transition: all .4s;
                  padding: .2rem .5rem;
              }
          
              .link:hover {
                  background-color: var(--black-transparent);
              }

              .link_child:hover {
                color: var(--tertiary-color);
              }
          

              .label_burger {
                  display: none;
              }

              .menu_burger {
                  display: none;
              }

              .img-top-button {
                width: 100px;
              }

              .li_links_anchor_parent {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                font-size: 1rem;
                font-weight: bold;
              }

              .li_links_anchor {
                font-weight: 900;
              }

    h2 {
      font-size: 5em;
    }

    p {
      font-size: 3em;
    }
  
    .banner {
    
      .main-title {
        font-size: 6.5em;
      }
    
    }
    
    /* Style des différentes sections */
    
    .main-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        .rubriques {
          padding: 0 20px; 
    
          .anchor-target {
            padding-top: var(--hauteur_header); 
            margin-top: -90px;
      
            /* Section des réalisations */
      
            .album {
              flex-direction: row;
            
              .album-image {
                width: 20vw;
                margin: 0 10px;
              }
            }
      
            /* Section des photos et vidéos */
      
            .pictures-align {
              flex-direction: row;
            }
            
            .pictures-photo {
              width: 20vw;
              margin: 0 10px;
            }
      
            /* Section liens des sites de fans */
      
            .links-section {
              flex-direction: row;
              font-size: 3em;
            }
      
            /* Section réseaux sociaux */
      
            .network {
              .social-network {         
                img {
                  height: 120px;
                }  
              
              }
            }
          }
        }
      }
       /*-------------Footer section---------*/

       .nav_footer_brk2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        padding: 2rem 0;
      }

      .nav_footer {
        display: none;
      }

      .section_footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 30vw;
        padding: 10px;
        justify-content: center;
        
      } 
    }
