:root {
    --primary-color:rgb(59, 59, 59);
    --secondary-color: rgb(255, 255, 255);
    --tertiary-color: rgba(8, 121, 165, 1);
    --black-transparent: rgba(0, 0, 0, 0.7);
    --hauteur_header: 90px;
    --hauteur_footer: 150px;
}
.ul_link_kombi{
    width: 20px;
    max-width: 200px;
    background-color: var(--black-transparent);
    color: var(--secondary-color);
    position: absolute;
    top: var(--hauteur_header);
    right: 0;
    height: 0;
    /*Cacher la list quand est pas check*/
        overflow: hidden;
    /* ----------------->height: calc(100vh - var(--altura_header)); */
    /*Type de conteneur*/
    display: flex;
    /*Positioner les éléments en colonne*/
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    gap: 1rem;
    /*anima la transición otorgándole una cantidad de tiempo para cambiar de un estado al otro*/
    transition: all .3s;
}
.li_links{
    
    color: var(--secondary-color);
    font-weight: bold;
}
/* Styles par défaut */
.photosmort{
    max-width: 100%;
    height: auto;
}
body {
    font-size: 16px;
}
 /*480px 1024px tab 1280px ordi*/
/* Pour les écrans de moins de 600px */
body {
    background-color: rgb(170, 170, 170);

}
body{
    margin: 0px;
    padding: 0px;
}
.texte {
    padding: 20px; /* Éloigne le texte de la bordure de son conteneur */
    margin: 10px;  /* Éloigne le conteneur de la marge externe */
    border: 1px solid #ccc; /* Juste pour visualiser le conteneur */
    border-radius: 1em;
}
.texte2{
    padding: 20px; /* Éloigne le texte de la bordure de son conteneur */
    margin: 10px;  /* Éloigne le conteneur de la marge externe */
    border: 1px solid #ccc; /* Juste pour visualiser le conteneur */
    border-radius: 1em;

}
.event1{
    padding: 20px; /* Éloigne le texte de la bordure de son conteneur */
    margin: 10px;  /* Éloigne le conteneur de la marge externe */
    border: 1px solid #ccc; /* Juste pour visualiser le conteneur */
    border-radius: 1em;
}
.event2{
    padding: 20px; /* Éloigne le texte de la bordure de son conteneur */
    margin: 10px;  /* Éloigne le conteneur de la marge externe */
    border: 1px solid #ccc; /* Juste pour visualiser le conteneur */
    border-radius: 1em;
}
.photos{
    width: 100%;
    text-align: center;
    margin: 10px;
}
.photos{
font-size: 1.5em;
margin-bottom: 1em;
color:#050505;
display: flex;
justify-content: center;
align-items: baseline
}
.photo1{
    padding: 20px; /* Éloigne le texte de la bordure de son conteneur */
    margin: 10px;  /* Éloigne le conteneur de la marge externe */
    border: 1px solid #ccc; /* Juste pour visualiser le conteneur */
    border-radius: 1em;
    border-style: hidden;
    border-radius: 1em;
    font-size: large;
    box-sizing: border-box;
    margin: 0.7em;
    padding: 1em;
    background-color: aliceblue;

}
.photo2{
    padding: 20px; /* Éloigne le texte de la bordure de son conteneur */
    margin: 10px;  /* Éloigne le conteneur de la marge externe */
    border: 1px solid #ccc; /* Juste pour visualiser le conteneur */
    border-radius: 1em;
    border-style: hidden;
    border-radius: 1em;
    font-size: large;
    box-sizing: border-box;
    margin: 0.7em;
    padding: 1em;
    background-color: rgb(255, 255, 255);
}
.cover-title{
    color: rgb(255, 255, 255);
    
}

.main-title {
    position: absolute;
    font-size: larger;
    bottom:10%;
    right: 10%;

    transform: translate(10%, 50%);
    color: aliceblue;
    border: 3px solid rgb(30, 30, 30);
    background-color: var(--black-transparent);
    padding: 10px 20px;
    border-radius: 10px;
}


.un {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.photo{
        top: 90px;
        text-align: right;
        font: larger;
        border: 3px solid rgb(5, 4, 4);
        height: calc(100vh - var(--hauteur_header));
}

.photo-img{
        object-fit: cover;
        width:100%;
        border: 3px solid rgb(10, 11, 9);
        height: calc(100vh - var(--hauteur_header));
        
}
h1 {
    display: flex;
    justify-content: center;
    color: rgb(61, 115, 155);
}
.un {
    display: flex;
    justify-content: space-around; 
    flex-direction: column;
    color: rgb(17, 19, 21);
}
.photosmort{
    display: flex;
    justify-content: center;
}
.photosmort1{
    width: 150px;
    height: 150px;
}
.album1{
    width: 150px;
    height: 150px;
}
.album2{
    width: 150px;
    height: 150px;
}
.album3{
  width: 150px;
  height: 150px;
}
.album4{
  width: 150px;
  height: 150px;
}

.photo1{
    display: flex;
    justify-content: center;
}
.event1{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.event2{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.un{
    display: flex;
    justify-content: center;

}
.one{
    border-style: hidden;
    border-radius: 1em;
    font-size:large;
    box-sizing: border-box;
    margin: 0.7em;
    padding: 1em;
    background-color: rgb(113, 108, 108);
}
.two{
    border-style: hidden;
    border-radius: 1em;
    font-size: large;
    box-sizing: border-box;
    margin: 0.7em;
    padding: 1em;
    background-color: rgb(113, 108, 108);
}
.three{
    border-style: hidden;
    border-radius: 1em;
    font-size: large;
    box-sizing: border-box;
    margin: 0.7em;
    padding: 1em;
    background-color: rgb(113, 108, 108);

}
.five{
    border-style: hidden;
    border-radius: 1em;
    font-size: large;
    box-sizing: border-box;
    margin: 0.7em;
    padding: 1em;
    background-color: rgb(113, 108, 108);
}
.six{
    border-style: hidden;
    border-radius: 1em;
    font-size: large;
    box-sizing: border-box;
    margin: 0.7em;
    padding: 1em;
    background-color: rgb(113, 108, 108);
}
.photos{
    width: 20px;
    height: 20px;
}
.fan1{
  width: 110px;
  height: 90px;
}
.fan2{
  width: 110px;
  height: 90px;
}
.fan3{
  width: 110px;
  height: 90px;
}
.rs{
  width: 80%;
  text-align: center;
  margin: 5px;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color:#050505;
  display: flex;
  justify-content: center;
  align-items:center;

}
.imagers1{
  width: 100px;
  height: 150px;
}
.imagers2{
  width: 100px;
  height: 150px;
}
.realisations{
    width: 100%;
    background-color: rgb(113, 108, 108);
    border-radius: 10px;
    box-shadow: 0 4px 8px;
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: space-around;
}
.realisations{
    font-size: 1.5em;
    margin-bottom: 1em;
    color:#050505;
    display: flex;
    align-items: baseline;
}
.album1{
    border-style: hidden;
    border-radius: 1em;
    font-size: large;
    box-sizing: border-box;
    margin: 0.7em;
    padding: 0.5em;
    background-color: rgb(248, 248, 248);
}
.album2{
    border-style: hidden;
    border-radius: 1em;
    font-size: large;
    box-sizing: border-box;
    margin: 0.7em;
    padding: 0.5em;
    background-color: rgb(248, 248, 248);
}
.album3{
    border-style: hidden;
    border-radius: 1em;
    font-size: large;
    box-sizing: border-box;
    margin: 0.7em;
    padding: 0.5em;
    background-color: rgb(248, 248, 248);
}
.album4{
  border-style: hidden;
  border-radius: 1em;
  font-size: large;
  box-sizing: border-box;
  margin: 0.7em;
  padding: 0.5em;
  background-color: rgb(248, 248, 248);
}
.pv{
  display: flex;
  justify-content: center;
}
.fan{
    text-align: center;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: baseline;

}
.fan1{
  border-style: hidden;
  text-align: center;
    border-radius: 1em;
    font-size: small;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin: 0.7em;
    padding: 1em;
    background-color: rgb(242, 240, 240);

}
.fan2{
    border-style: hidden;
    text-align: center;
    border-radius: 1em;
    font-size: small;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 0.7em;
    padding: 1em;
    background-color: rgb(255, 255, 255);

}
.fan3{
  border-style: hidden;
  text-align: center;
    border-radius: 1em;
    font-size: small;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 0.7em;
    padding: 1em;
    background-color: rgb(255, 255, 255);

}
nav {
   display: flex;
   flex-direction: column;
   left: 100px;
   font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(170, 7, 7);
}
/* Font Roboto */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  


/*MOBILE FIRST*/

/*Réinisialiter les styles par defaut des navigateurs*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Effacer le style par defaut des éléments ol et ul*/
ol, ul {
    list-style: none;
}
.header {
    height: var(--hauteur_header);
    background-color: var(--primary-color);
}

/*Le style du conteneur navbar*/
.navbar {
    height: 100%; /*pour occuper tout l'hauteur du header*/
    display: flex; /*Positioner les éléments les uns au coté des autres*/
    justify-content: space-between; /*Éloigner les éléments les uns des autres*/
    align-items: center;
    flex-wrap: wrap;
    padding: 0 var(--padding_left_right); /*Padding du 0 par top et bottom, et de 2 par left et right*/
}

.logo {
    height: 80%;
    object-fit: scale-down;
}

/*Cacher l'élément check-box, sont les éléments de notre menu*/
.menu_hamburguer {
    display: none;
    text-decoration: none;
}

/*Captamos el elemento por su ID, cuando el check-box esté en estado checked*/
/*el signo + significa que el elemento al lado (ul_links, en este caso) será modificado*/
/*En este caso, para asignar la altura al elemento ul_links*/
/*Se utiliza una función para calcular la altura, la operación es la siguiente:*/
/*Queremos que mida el 100% de la altura de la ventana menos la altura del header*/
.menu_hamburguer:checked+.ul_links {
    height: calc(40vh - var(--hauteur_header));
    min-height: 400px;
    max-width: 600px;
}

/* .label_hamburguer {


} */

/*Le da un color blanco al icono hamburguer               */
.list_icon {
    color: var(--secondary-color);
    cursor: pointer; /* indica que el elemento es clicable */
}

/*Cacher l'élément check-box, sont les éléments de notre menu*/
.menu_hamburguer {
    display: none;
}

/*Captamos el elemento por su ID, cuando el check-box esté en estado checked*/
/*el signo + significa que el elemento al lado (ul_links, en este caso) será modificado*/
/*En este caso, para asignar la altura al elemento ul_links*/
/*Se utiliza una función para calcular la altura, la operación es la siguiente:*/
/*Queremos que mida el 100% de la altura de la ventana menos la altura del header*/
.menu_hamburguer:checked+.ul_links_kombi {
    height: calc(100vh - var(--hauteur_header));
    min-height: 200px;
    max-width: 600px;
}

/* .label_hamburguer {


} */


/*Le da un color blanco al icono hamburguer               */
.list_icon {
    color: var(--couleur_blanc);
    cursor: pointer; /* indica que el elemento es clicable */
}

/*Des options du menu*/
.ul_links_kombi {
    width: 200px;
    max-width: 500px;
    background-color: var(--black-transparent);
    color: var(--secondary-color);
    position: absolute;
    /*el elemento  ul_links comienza abajo del header*/
    top: var(--hauteur_header);
    /*sin espacio a la izquierda*/
    right: 0;
    /*sin espacio arriba*/
    height: 0;
    /*Cacher la list quand est pas check*/
    overflow: hidden;
    /* ----------------->height: calc(100vh - var(--altura_header)); */
    /*Type de conteneur*/
    display: flex;
    /*Positioner les éléments en colonne*/
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding-right: 1rem;
    gap: 1rem;
    /*anima la transición otorgándole una cantidad de tiempo para cambiar de un estado al otro*/

}
/*options menu text container*/
 /*.li_links {

 }*/


/*Donner le style aux liens du menu*/
.link {
    font-size: 1,5em;
    color: var(--secondary-color);
    font-weight: bold;
    padding: 1,5em;

}

.link:hover {
    background-color: var(--primary-color);
}

.link_child {
    font-size: 1,3em;
    color: var(--secondary-color);
    font-weight: lighter;
    padding: 5px;
    text-decoration: none;
}

.link:hover {
    background-color: var(--primary-color);
}


.footer {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  /* bottom: 0; */
  /* height: var(--hauteur_footer); */
  background-color: var(--primary-color);

}

.nav_footer {
  justify-items: center;
  padding: 2rem 0;
  /* border: 4px solid red; */
}

.nav_footer_brk2 {
  display: none;
}

.section_footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60vw;
  padding: 10px;
  /* border: 1px solid yellow; */
  justify-content: center;
} 

.portraits_footer {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  width: 100%;
  max-height: 30vh;
  min-height: 160px;
  object-fit: cover;
  /* background-position: top; */
  background-position-y: top;
  background-position-x: top;
  /* border: 2px solid red; */
  /*We must find the solution for the align a right side in tablets and big screens*/
}
 
.ul_links_footer {
  display: grid;
  grid-template-columns: 1fr;
  /* border: 1px solid green; */
  padding-left: 10px;
}

.link_footer {
  font-size: 1,5em;
  color: var(--secondary-color);
  font-weight: bold;
  padding: 1,5em;
  margin: 1em 0;
  /* border: 1px solid purple; */
}

.link_footer:hover {
  background-color: var(--primary-color);
}

.link_child_footer {
  font-size: 1,3em;
  color: var(--secondary-color);
  font-weight: lighter;
  padding: 3px;
  /* border: 1px solid orangered; */
}

.link_child_footer:hover {
  background-color: var(--primary-color);
}

/*------------------------------------------*/


h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding: 20px o;
    color: var(--primary-color);
}
 /*480px 1024px tab 1280px ordi*/

 @media all and (min-width: 768px) and (max-width: 1599px) {

    .header {
      height: var(--hauteur_header_medium_size);
    
      li {
        font-size: 2em;
      }
    }
    
    .label_hamburguer svg {
      height: 90px;
      width: 90px;
    }
    
    .ul_links_kombi {
      top: var(--hauteur_header_medium_size);
    }
    
    .menu_hamburguer:checked+.ul_links_kombi {
      height: calc(100vh - var(--hauteur_header_medium_size));
      max-width: none;
      width: fit-content;
      padding-left: 20px;
    }
    
    h2 {
      font-size: 5em;
    }
    
    p {
      font-size: 2em;
    }
      
    .cover-title{
    
      .main-title {
        font-size: 2.8em;
      }
    
    }
    .footer {
      display: grid;
      grid-template-columns: 1fr;
      height: 100%;
      /* bottom: 0; */
      /* height: var(--hauteur_footer); */
      background-color: var(--primary-color);
    
    }
    
    .nav_footer {
      justify-items: center;
      padding: 2rem 0;
      /* border: 4px solid red; */
    }
    
    .nav_footer_brk2 {
      display: none;
    }
    
    .section_footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 60vw;
      padding: 10px;
      /* border: 1px solid yellow; */
      justify-content: center;
    } 
    
    .portraits_footer {
      display: flex;
      justify-content: flex-end;
      align-items: end;
      width: 100%;
      max-height: 30vh;
      min-height: 160px;
      object-fit: cover;
      /* background-position: top; */
      background-position-y: top;
      background-position-x: top;
      /* border: 2px solid red; */
      /*We must find the solution for the align a right side in tablets and big screens*/
    }
     
    .ul_links_footer {
      display: grid;
      grid-template-columns: 1fr;
      /* border: 1px solid green; */
      padding-left: 10px;
    }
    
    .link_footer {
      font-size: 1,5em;
      color: var(--secondary-color);
      font-weight: bold;
      padding: 1,5em;
      margin: 1em 0;
      /* border: 1px solid purple; */
    }
    
    .link_footer:hover {
      background-color: var(--primary-color);
    }
    
    .link_child_footer {
      font-size: 1,3em;
      color: var(--secondary-color);
      font-weight: lighter;
      padding: 3px;
      /* border: 1px solid orangered; */
    }
    
    .link_child_footer:hover {
      background-color: var(--primary-color);
    }
    /* Style des différentes sections */
    
    .un {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        .rubrique {
          padding: 0 20px; 
    
          .anchor-target {
            padding-top: var(--hauteur_header); 
            margin-top: -90px;
      
            /* Section des réalisations */
      
            .album1 {
              flex-direction: row;
            
              .album2 {
                width: 40vw;
                margin: 0 10px;
              }
            }
      
            /* Section des photos et vidéos */
      
            .photos {
              flex-direction: row;
            }
            
            .pictures-photo {
              width: 40vw;
              margin: 0 10px;
            }
      
            .fan {
              flex-direction: row;
              font-size: 5em;
            }
            /* Section réseaux sociaux */
      
            .rs {
              .social-network {         
                img {
                  height: 90px;
                }  
              
              }
            }
          }
        }
      }
    }
            